body{
    background-color: #d5d0d0;
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 16px;
    font-weight: 400;
}

h2{
    color: #255062;
    font-size: 28px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: 7px;
}

h3{
    color: #255062;
    font-size: 26px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
}

h4{
    color: #255062;
    font-size: 24px;
    font-weight: 500;
    margin-left: 7px;
    margin-top: 7px;
}

.main_image{
    position: relative;
    margin-top: 20px;
}

.image1{
    position: relative;
    top:0px;
    left:0px;
    width: 100%;
}

.image2{
    position: absolute;
    top:0px;
    left:30px;
    width:220px;
}

.image3{
    position: absolute;
    top:15px;
    left:320px;
}

.image4{
    position: absolute;
    top:15px;
    left:500px;
}

.image5{
    position: absolute;
    top:15px;
    left:620px;
}

.image6{
    position: absolute;
    top:15px;
    left:740px;
}

.image7{
    position: absolute;
    top:440px;
    left:42px;
}


.main_content{
    background-color: #ececec;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif; color: #252323;
}

.inside_fon{
    background-color: white;
    margin: 20px 20px 20px 20px;
}

.topics{
    border: 1px solid #4cb1ca;
    margin: 7px 7px 7px 7px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.topic_photo{
    margin: auto;
    width: 100%;
}

.poems_photo{
    margin: 7px 7px 7px 7px;
    width: 100%;
}

.knopka_zakaza{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 7px;
}

.social{
    text-align: center;
}

.text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 16px;
    font-weight: 400;
}

.text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 16px;
    font-weight: 400;
    margin-left: 7px;
}

.stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 16px;
    font-weight: 400;
    margin-left: 33%;
    margin-bottom: 20px;
}

.feedback{
    width: 80%;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thanks{
    border: 10px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.price{
    margin: 7px 7px 7px 7px;
    font-size: 16px;
}

.table2{
    border:1px solid black;
    width: 90%;
    text-align: left;
    margin-bottom: 17px;
}

.table2 th{
    border:1px solid black;
    text-align: center;

}

.table2 td{
    border:1px solid black;
    padding-left: 7px;
    padding-right: 7px;
}

.table1{

}

@media screen and (max-width: 1280px){
    .image3{
    position: absolute;
    top:15px;
    left:320px;
    }

.image4{
    position: absolute;
    top:15px;
    left:500px;
    }

    .image7{
    position: absolute;
    top:430px;
    left:40px;
    }
}

@media screen and (max-width: 1200px){
    .image3{
    position: absolute;
    top:15px;
    left:320px;
    }

.image4{
    position: absolute;
    top:15px;
    left:480px;
    }

    .image7{
    position: absolute;
    top:380px;
    left:40px;
    }
}

@media screen and (max-width: 1024px){
    .image4{
    position: absolute;
    top:15px;
    left:460px;
    }

    .image7{
    position: absolute;
    top:365px;
    left:33px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    }

    .text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 15px;
    font-weight: 400;
    }

    .text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 15px;
    font-weight: 400;
    margin-left: 7px;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 15px;
    font-weight: 400;
    margin-left: 33%;
    margin-bottom: 20px;
    }

    .feedback{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px){
    .image7{
    position: absolute;
    top:280px;
    left:25px;
    }
}

@media screen and (max-width: 768px){
    .image2{
    position: absolute;
    top:0px;
    left:30px;
    width:200px;
    }

    .image3{
    position: absolute;
    top:15px;
    left:320px;
    width: 130px;
    }

    .image4{
    position: absolute;
    top:15px;
    left:460px;
    width: 130px;
    }

    .image7{
    position: absolute;
    top:270px;
    left:24px;
    }

    .feedback{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    }

    .politiks{
    font-size: 15px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    }

    h2{
    color: #255062;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: 7px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    }

    .price{
    margin: 7px 7px 7px 7px;
    font-size: 15px;
    }
}

@media screen and (max-width: 767px){

    .image2{
    position: absolute;
    top:0px;
    left:15px;
    width:160px;
    }

    .image3{
    position: absolute;
    top:11px;
    left:210px;
    width: 110px;
    }

    .image4{
    position: absolute;
    top:13px;
    left:360px;
    width: 110px;
    }

    .image7{
    position: absolute;
    top:200px;
    left:17px;
    width: 110px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    }

    .politiks{
    font-size: 15px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    }

    h2{
    color: #255062;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: 7px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    }

    .price{
    margin: 7px 7px 7px 7px;
    font-size: 15px;
    }
}

@media screen and (max-width: 650px){
    .image7{
    position: absolute;
    top:200px;
    left:20px;
    }
}

@media screen and (max-width: 576px){
    .image2{
    position: absolute;
    top:0px;
    left:20px;
    width:150px;
    }

    .image3{
    position: absolute;
    top:11px;
    left:230px;
    width: 100px;
    }

    .image4{
    position: absolute;
    top:11px;
    left:360px;
    width: 105px;
    }

    .image7{
    position: absolute;
    top:210px;
    left:16px;
    width: 120px;
    }

    h2{
    color: #255062;
    font-size: 22px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    .topics_intro{
    font-size: 14px;
    }

    h3{
    color: #255062;
    font-size: 24px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    h4{
    color: #255062;
    font-size: 22px;
    font-weight: 500;
    margin-left: 7px;
    margin-top: 7px;
    }

    .text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 14px;
    font-weight: 400;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20%;
    margin-bottom: 20px;
    }

    .text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 14px;
    font-weight: 400;
    margin-left: 7px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    }

    .politiks{
    font-size: 14px;
    }

    .thanks{
    border: 5px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    }

    .price{
    margin: 7px 7px 7px 7px;
    font-size: 14px;
    }
}


@media screen and (max-width: 525px){
    .image2{
    position: absolute;
    top:0px;
    left:20px;
    width:150px;
    }

    .image3{
    position: absolute;
    top:10px;
    left:220px;
    width: 100px;
    }

    .image4{
    position: absolute;
    top:11px;
    left:340px;
    width: 100px;
    }

    .image7{
    position: absolute;
    top:190px;
    left:14px;
    width: 110px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    }
}

@media screen and (max-width: 480px){
    .image2{
    position: absolute;
    top:0px;
    left:20px;
    width:130px;
    }

    .image3{
    position: absolute;
    top:8px;
    left:190px;
    width: 90px;
    }

    .image4{
    position: absolute;
    top:9px;
    left:320px;
    width: 90px;
    }

    .image7{
    position: absolute;
    top:180px;
    left:14px;
    width: 110px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    }
}

@media screen and (max-width: 425px){
    .image2{
    position: absolute;
    top:0px;
    left:15px;
    width:120px;
    }

    .image3{
    position: absolute;
    top:7px;
    left:170px;
    width: 90px;
    }

    .image4{
    position: absolute;
    top:9px;
    left:285px;
    width: 85px;
    }

    .image7{
    position: absolute;
    top:160px;
    left:14px;
    width: 100px;
    }

    .knopka_zakaza{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 7px;
    width: 110px;
    }

    h2{
    color: #255062;
    font-size: 21px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    .topics_intro{
    font-size: 13px;
    }

    h3{
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    h4{
    color: #255062;
    font-size: 19px;
    font-weight: 500;
    margin-left: 7px;
    margin-top: 7px;
    }

    .text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 13px;
    font-weight: 400;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20%;
    margin-bottom: 20px;
    }

    .text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 13px;
    font-weight: 400;
    margin-left: 7px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    }

    .politiks{
    font-size: 13px;
    }

    .thanks{
    border: 4px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    }

    .price{
    margin: 7px 7px 7px 7px;
    font-size: 13px;
    }

}

@media screen and (max-width: 400px){
    .image2{
    position: absolute;
    top:0px;
    left:15px;
    width:110px;
    }

    .image3{
    position: absolute;
    top:7px;
    left:150px;
    width: 80px;
    }

    .image4{
    position: absolute;
    top:9px;
    left:265px;
    width: 75px;
    }

    .image7{
    position: absolute;
    top:160px;
    left:14px;
    width: 100px;
    }

    .knopka_zakaza{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 7px;
    width: 110px;
    }

    h2{
    color: #255062;
    font-size: 21px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    .topics_intro{
    font-size: 13px;
    }

    h3{
    color: #255062;
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 7px;
    }

    h4{
    color: #255062;
    font-size: 19px;
    font-weight: 500;
    margin-left: 7px;
    margin-top: 7px;
    }

    .text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 13px;
    font-weight: 400;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20%;
    margin-bottom: 20px;
    }

    .text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 13px;
    font-weight: 400;
    margin-left: 7px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8px;
    }

    .politiks{
    font-size: 13px;
    }

    .thanks{
    border: 4px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    }

    .price{
    margin: 7px 7px 7px 7px;
    font-size: 13px;
    }

}

@media screen and (max-width: 375px){
    .image2{
    position: absolute;
    top:0px;
    left:13px;
    width:120px;
    }

    .image3{
    position: absolute;
    top:5px;
    left:150px;
    width: 90px;
    }

    .image4{
    position: absolute;
    top:8px;
    left:255px;
    width: 85px;
    }

    .image7{
    position: absolute;
    top:145px;
    left:12px;
    width: 100px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8px;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10%;
    }

    .thanks{
    border: 4px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    }
}

@media screen and (max-width: 360px){
    .image2{
    position: absolute;
    top:0px;
    left:8px;
    width:100px;
    }

    .image3{
    position: absolute;
    top:4px;
    left:135px;
    width: 80px;
    }

    .image4{
    position: absolute;
    top:7px;
    left:245px;
    width: 70px;
    }

    .image7{
    position: absolute;
    top:135px;
    left:9px;
    width: 110px;
    }

    .feedback{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8px;
    }
}

@media screen and (max-width: 320px){
    .image2{
    position: absolute;
    top:0px;
    left:8px;
    width:100px;
    }

    .image3{
    position: absolute;
    top:3px;
    left:120px;
    width: 80px;
    }

    .image4{
    position: absolute;
    top:6px;
    left:215px;
    width: 70px;
    }

    .image7{
    position: absolute;
    top:125px;
    left:9px;
    width: 100px;
    }

    .feedback{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 7px;
    }

    .text1{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 11px;
    font-weight: 400;
    }

    .stih_text{
    font-family: 'Open Sans', sans-serif; color: #252323;
    font-size: 11px;
    font-weight: 400;
    margin-left: 5%;
    margin-bottom: 20px;
    }

    .text2{
    font-family: 'Open Sans', sans-serif;
    color: #252323;
    font-size: 11px;
    font-weight: 400;
    margin-left: 7px;
    }

    .thanks{
    border: 4px solid #4cb1ca;
    background-color: ghostwhite;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 7px 7px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #255062;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    }

}

