{% extends 'base.html' %}
{% load static %}
{% block title %}Цены. Оплата.{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="main_content">
            <div class="inside_fon">
                <div class="container">
                    <div class="row">
                        <div class="container">
                           <h2>Цены. Оплата.</h2>
                               <div class="price">

                               <p>Наша услуга по написанию поздравлений в стихах с днем рождения, юбилеем и т.д. доступна для граждан любых стран.</p>
                               <p>Оплата стихов на заказ производится:</p>

<li>По безналичному расчету;</li>
<li>Через электронную платежную систему Яндекс.Деньги;</li>
<li>Переводом на пластиковую карту;</li>
<br>
<p>Оплата, как правило, производится после выполнения заказа. Срок написания стихов 2-3 дня. Доставка заказа осуществляется электронной почтой. Все подробности будут согласованы после получения Вашей <a href="{% url "feedback2" %}">заявки.</a></p>



<table class="table2">

    <TR>
        <TH>Услуга</TH>
        <TH>Цена</TH>
    </TR>
    <TR>
        <TD>Поздравления в стихах с днем рождения, юбилеем и др.</TD>
        <TD>200 рублей за четверостишие</TD>
    </TR>
    <TR>
        <TD>Написание стихов на мелодию известной песни</TD>
        <TD>200 рублей за четверостишие</TD>
    </TR>
    <TR>
        <TD>Корректировка стихотворений заказчика</TD>
        <TD>200 рублей за четверостишие{</TD>
    </TR>
    <TR>
        <TD>Сценарий корпоративного праздника на заказ</TD>
        <TD>от 5000 рублей</TD>
    </TR>

</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
